// Variable overrides
//
// If you want to customize your project please add your variables below.

$enable-deprecation-messages: false !default;

$primary:       #F64243 !default;
$secondary:     #6574F5 !default;
$success:       #63EE7B !default;
$info:          #39BAF4 !default;
$warning:       #FFA427 !default;
$danger:        #FE534B !default;